@import 'grid.less';
@import 'reset.css';

@columns: 12;
@column-width: 60;
@gutter-width: 20;

@total-width: 100%;

header {
	background-color: black;
}

header h1{
	font-family: Georgia;
	font-size: 1.5em;
	padding: 1em;
	color: white;
}

#center {
	max-width: 960px;
	margin: 0 auto;
}