@import 'grid.less';

@columns: 12;
@column-width: 60;
@gutter-width: 20;

* {
	margin: 0;
}

html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

header {
	background-color: rgba(0,102,255,0.7);
	width: 100%;
	min-width: 960px;
	margin-top: -20px;
	margin-bottom: 1em;
}

header nav {
	margin-top: 20px;
	background-color: navy;
  	height: 50px;
}

header nav ul {
	font-family: Arial, Verdana;
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav ul li {
	display: block;
	position: relative;
	float: left;
}

header nav ul li a {
	display: block;
	text-decoration: none;
	padding: 7px 15px 3px 15px;
	background: rgba(0,102,255,0.7);
	color: #ffffff; 
	margin-left: 1px;
	white-space: nowrap;
	height: 50px;
	width: 120px;
	text-align: center;
}

header nav ul li a:hover {
	background: rgba(255,255,255,1);
	text-decoration: none;
	color: midnightblue;
	border-bottom: tomato solid 6px;
	border-top: hidden;
}

header nav ul li #username-box {
	width: 200px;
}

header nav ul li #username-box:hover {
	
}

header nav #logout-box {
	float: right;
}

h1{
	padding: 0.5em;
	color: white;
}

#center {
	width: 960px;
	margin: 0 auto;
}

#center article {
	.column(8);
    padding: 10px;
	position:relative;
}

#center article #article-menu {
	.column(12);
	height: 100px;
	margin-left: -1px;
	float: left;
}

#center article #article-konten {
	.column(12);
	height: 300px;
	float: left;
	margin-left: -1px;
	padding :20px;
	position:relative;
}

#center #article-home {
	.column(12.3);
	position:relative;
}

#center #mhs-home {
	.column(12);
	border: solid 1px;
}

#center section {
	.column(4);
	background-color: white;
	height: 500px;
	border-left: solid;
	padding: 10px;
}

#center section * {
	margin-left: 2em;
}

#center h2 {
	font-family: Georgia;
	font-size: 1.5em;
	padding: 10em 0;
	color: #666;
	background-color: #ccc;
	text-align: center;
	height: auto !important;
	height: 100%;
}

#push {
	width: 100%;
	min-width: 960px;
	height: 70px;
	float: right;
}

footer {
	background-color: rgba(0,102,255,0.7);
	color: white;
	width: 100%;
	min-width: 960px;
	float: left;
	height: 70px;
	padding: 0px 20px;
}

.form-control {
	width: 250px;
	height: 40px;
	font-size: 18px;
}

#tombol-login {
	float: right;
	width: 150px;
	color:rgba(0,102,255,0.9);
	border:rgba(153,153,153,1) solid;
}

#tombol-login:hover {
	color:#ffffff;
	background-color:rgba(0,102,255,0.7);
	border: rgba(0,102,255,0.4) solid;
}
ul {
    margin: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
.metro{
	.column(3.68);
	color:#ffffff;
	background-color:rgba(0,102,255,0.7);
	border: rgba(0,102,255,0.4) solid;
	padding: 20px;
	margin: 10px 6px;
	height: 80px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}

.metro:hover{
	color:#ffffff;
	background-color:darkblue;
	border: rgba(150,0,255,0.4) solid;
	cursor: pointer;
}

.metro:active{
	color:#ffffff;
	background-color:black;
	border-bottom: gold solid;
	cursor: pointer;
}

.sedang-dibuka {
	background-color: steelblue;
	border-bottom: gold solid 5px;
	box-shadow: 0px 3px 1px #888888;
}

#pesan-login, #pesan-tunggu {
	height: 20px;
	color: black;
	font-size: 14px;
}

table{
	margin:0px;padding:10px;
	width:100%;
	height: 100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	}
tr:nth-child(odd){ background-color:#aaaaff; }
tr:nth-child(even){ background-color:#ffffff; }
td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:8px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}


input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
  -moz-box-sizing: inherit;
}

.message
{
		 margin: 0px; 			
		 border: 5px solid;
		 border-top:hidden;
		 color: #fff;
		 padding: 10px;
		 position: fixed;
		 _position: absolute;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 cursor: pointer;
		 width:100%;
		 text-align: right;
}

.error
{
		 background-color: rgba(255,0,0,0.9);
		 border-color: Firebrick;
}
		 
.warning
{
		 background-color:rgba(255,100,0,0.9);
		 border-color: gold;
}

.message h3
{
		 margin: 0 30px;
}

.message p
{
		 margin: 0 30px;													 
}
