@import 'grid.less';

@columns: 12;
@column-width: 60;
@gutter-width: 20;

* {
	margin: 0;
}

html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

header {
	background-color: rgba(0,102,255,0.7);
	width: 100%;
	min-width: 960px;
	margin-top: -20px;
	margin-bottom: 1em;
}

header nav {
	margin-top: 20px;
	background-color: navy;
  	height: 50px;
}

header nav ul {
	font-family: Arial, Verdana;
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav ul li {
	display: block;
	position: relative;
	float: left;
}

header nav ul li a {
	display: block;
	text-decoration: none;
	padding: 7px 15px 3px 15px;
	background: rgba(0,102,255,0.7);
	color: #ffffff; 
	margin-left: 1px;
	white-space: nowrap;
	height: 50px;
	width: 120px;
	text-align: center;
}

header nav ul li a:hover {
	background: rgba(255,255,255,1);
	text-decoration: none;
	color: midnightblue;
	border-bottom: tomato solid 6px;
	border-top: hidden;
}

header nav ul li #username-box {
	width: 200px;
}

header nav ul li #username-box:hover {
	background: steelblue;
	border-bottom: hidden;
	border-top: yellow solid 5px;
	color: white;
	text-decoration: none;
}

header nav #logout-box {
	float: right;
}

h1{
	padding: 0.5em;
	color: white;
}

#center {
	width: 960px;
	margin: 0 auto;
}

#center article {
	.column(8);
	padding: 10px;
}

#center #article-home {
	.column(12);
}

#center section {
	.column(4);
	background-color: white;
	height: 500px;
	border-left: solid;
	padding: 10px;
}

#center section * {
	margin-left: 2em;
}

#center h2 {
	font-family: Georgia;
	font-size: 1.5em;
	padding: 10em 0;
	color: #666;
	background-color: #ccc;
	text-align: center;
	height: auto !important;
	height: 100%;
}

#push {
	width: 100%;
	min-width: 960px;
	height: 70px;
	float: right;
}

footer {
	background-color: rgba(0,102,255,0.7);
	width: 100%;
	min-width: 960px;
	float: left;
	height: 70px;
	padding: 0px 20px;
}

.form-control {
	width: 250px;
	height: 40px;
	font-size: 18px;
}

#tombol-login {
	float: right;
	width: 150px;
	color:rgba(0,102,255,0.9);
	border:rgba(153,153,153,1) solid;
}

#tombol-login:hover {
	color:#ffffff;
	background-color:rgba(0,102,255,0.7);
	border: rgba(0,102,255,0.4) solid;
}

.sedang-dibuka {
	background-color: steelblue;
	border-top: yellow solid 5px;
}

tr:nth-child(odd){
	background:rgba(0,102,255,1);
	color:rgba(255,255,255,1);
	border-radius:8px;
}


input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
  -moz-box-sizing: inherit;
}

.message
{
		 margin: 0px; 			
		 border: 5px solid;
		 border-top:hidden;
		 color: #fff;
		 padding: 10px;
		 position: fixed;
		 _position: absolute;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 cursor: pointer;
		 width:100%;
		 text-align: right;
}

.error
{
		 background-color: rgba(255,0,0,0.9);
		 border-color: Firebrick;
}
		 
.warning
{
		 background-color:rgba(255,100,0,0.9);
		 border-color: gold;
}

.message h3
{
		 margin: 0 5px;
}

.message p
{
		 margin: 0;													 
}
